
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;600&family=Open+Sans&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500;600&family=Open+Sans&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.header{
    background-color:#fcc8b8;
    padding: 24px 0;
}
.logo{
    width: 29%;
    vertical-align: middle;
    display: inline-block;
}
.logo a{
    font-size: 30px;
    color: rgb(182, 60, 23);
    text-decoration: none;
    font-family: abril fatface;
}
.navigation{
    width: 70%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.navigation ul{
    list-style: none;
}
.navigation li{
    display: inline-block;
    margin-left: 30px;
}
.navigation li a{
    color: rgb(182, 60, 23);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.banner{
    width: 100%;
    height: 500px;
    background-color:#fcc8b8;
}
/* Banner Content */
.banner-content{
    width: 50%;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 60px;
}
.banner-content h2{
    font-family: Montserrat;
    font-size: 30px;
}
.banner-content h1{
    font-family: abril fatface;
    font-size: 70px;
}
.banner-content p{
    font-family: Montserrat;
    font-weight: bold;
    margin: 20px 0 32px;
    font-size: 20px;
    color: white;
}
.btn{
    padding: 14px 40px;
    color:rgb(255, 250, 248);
    text-decoration: none;
    background-color:rgb(182, 60, 23);
    border-radius: 6px;
}
.img-banner img{
    width: 100%;
    /* display: inline-block; */
    border-radius: 20px;
    -webkit-box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08); 
box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08);
}
.img-banner{
    height: 550px;
    width: 50%;
    overflow: hidden;
    vertical-align: middle;
    padding-top: 70px;
    float: right;
    /* border-radius: 10px; */
}
.content-pd h2{
    /* padding-top: 500px; */
    text-align: center;
    margin-top: 400px;
    font-size: 30px;
}
.product{
    padding: 100px 0;
}
.card{
    width: 30%;
    -webkit-box-shadow: 5px 5px 15px 6px rgba(0,0,0,0.13); 
    box-shadow: 5px 5px 15px 6px rgba(0,0,0,0.13);
    border-radius: 20px;
    overflow: hidden;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
    display: inline-block;
    margin: 60px 15px;
    align-items: center;
}
.img-pd{
    height: 350px;
    overflow: hidden;
}
.img-pd img{
    width: 100%;
    padding-top: -26px;
}
.content-card{
    text-align: center;
    /* display: inline-block; */
    margin-top: 14px;
}
/* .content-1{
    text-align: left;
    margin: 8px 12px;
} */
.content-card h5{
    color:rgb(163, 162, 162);
}
.content-card h3{
    margin-top: -4px;
}
.btn-card{
    padding: 10px 40px;
    display: inline-block;
    background-color: rgb(236, 118, 97);
    border-radius: 8px;
    margin-top: 14px;
    align-items: center;
}
.btn-card p{
    float: left;
    font-size: 20px;
    font-weight: semi-bold;
    font-family: Montserrat;
    color:rgb(255, 255, 255)
}
.btn-card a{
    float: right;
    padding-left: 10px;
}
/* BLOG */
.Blog{
    width: 100%;
    vertical-align: middle;
    padding-top: 66px;
}
.blog-content{
    width: 50%;
    /* height: 260px; */
    margin-top: 700px;
}
.Blog h3{
    font-size: 40px;
    padding-bottom: 30px;
}
.Blog p{
    font-size: 20px;
    padding-bottom: 20px;
}
.img-blog img{
    width: 100%;
    /* display: inline-block; */
    /* border-radius: 20px; */
    -webkit-box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08); 
box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08);
}
.img-blog{
    height: 480px;
    width: 45%;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -450px;
    float: right;
    border-radius: 10px;
}
/* Ingredients */
.img-ingre img{
    width: 100%;
    /* display: inline-block; */
    /* border-radius: 20px; */
    -webkit-box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08); 
box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08);
}
.img-ingre{
    height: 520px;
    width: 45%;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 190px;
    float: left;
    border-radius: 10px;
}
.about-ingre{
    width: 100%;
    vertical-align: middle;
    padding-top: 50px;
}
.ingre-content{
    width: 50%;
    /* height: 260px; */
    margin-top: 160px;
    float: right;
    padding-top: 60px;
}
.about-ingre h3{
    font-size: 40px;
    padding-top: 10px;
    display: inline-block;
}
.btn-testi{
    padding: 14px 26px;
    color:rgb(255, 250, 248);
    text-decoration: none;
    background-color:rgb(182, 60, 23);
    border-radius: 6px;
    margin-top: 45px;
}
.about-ingre p{
    font-size: 20px;
    padding-top: 10px;
}
/* Testimonails */
.title-testi h2{
    text-align: center;
    padding-top: 800px;
}
.Feedback-card{
    display: inline-block;
    width: 28%;
    height: 340px;
    /* margin-top: 60px; */
    vertical-align: middle;
    overflow: hidden;
    background-color:rgb(252, 252, 252);
    -webkit-box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08); 
box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08);
margin: 60px 15px;
border-radius: 10px;
}
.img-ppl{
   text-align: center;
    /* float:left; */
    /* border-radius: 12px; */
    overflow: hidden;
    margin-top: -260px;
}
.testi-content{
    /* margin-right: -50px; */
    margin-top: 190px;
    text-align: center;
}
.testi-content h4{
    margin-top: 8px;
}
.testi-content h6{
    margin-top: 8px;
}
.testi-content p{
    font-size: 12px;
    font-weight: semi-bold;
    padding-top: 8px;
}

/* FOOTER */
.logo-footer{
    width: 100%;
    vertical-align: middle;
    /* display: inline-block; */
    text-align: center;
}
.logo-footer a{
    font-size: 30px;
    color: rgb(182, 60, 23);
    text-decoration: none;
    font-family: abril fatface;
}
.nav-footer{
    width: 100%;
    /* display: inline-block; */
    /* text-align: center; */
    vertical-align: middle;

}
.nav-footer ul{
    list-style: none;
    text-align: center;
    padding-top: 26px;
    margin-left: 15px;;
}
.nav-footer li{
    display: inline-block;
    margin-left: 30px;
}
.nav-footer li a{
    color: rgb(182, 60, 23);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.nav-footer p{
    width: 45%;
    height: 50px;
    border-radius: 8px;
    background-color:rgb(255, 255, 255);
    padding: 16px 16px;
    margin: 46px 15px 0 185px;
    color:rgba(196, 196, 196, 0.596);
    font-size: 14px;
    text-align: center;
    /* margin-right: px; */
    -webkit-box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08); 
    box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08);
}
.footer{
    width: 100%;
    height: 290px;
    background-color:#fcc8b8;
    
}
.footer-1{
    width: 100%;
    height: 290px;
    background-color:#fcc8b8;
    padding-top: 20px;

}
.btn-footer{
    width: 20%;
    height: 50px;
    /* padding: 5px 16px; */
    margin: -120px 15px 0 654px;
    background-color:black;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding-top: 14px;
    -webkit-box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08); 
    box-shadow: -2px 8px 12px -1px rgba(0,0,0,0.08);
}
.nav-footer h6{
    font-size: 14px;
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 55px;
}